body {
  min-width: 700px;
}
#closet {
  height: 100%;
}
li {
  margin-left: -200px;
  margin-top: -6px;
}
#insta {
  margin-left: 460px;
  margin-top: 350px;
}
#fb {
  margin-left: 1250px;
  margin-top: 350px;
}
#li {
  margin-left: 100px;
  margin-top: 350px;
}
#social-closet {
  width: 100%;
  overflow: hidden;
}
.page {
  height: 800px;
}
#mail {
  margin-left: 800px;
  margin-top: 350px;
}
#fb-likes {
  color: #414EA0;
  margin-left: 1470px;
  width: 100px;
  margin-top: 600px;
}
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
